@em:16px;

html {
	body {
	  background-color: white;
	  font-family: 'Roboto', sans-serif;
	}
}

.jumbotron {
	text-align: center;
}

.media-block {

	width: @em * 40;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	margin-bottom: @em;
	padding: @em;
	border-radius: 3px;
	img {
		width: 100px;
		float: left;
	}

	h3,h4 {
		margin-top: 0px;
	}

	ul {
		padding: 0px;
	}

	li {
		float: left;
		list-style: none;
		margin: @em /2 @em /4;
		border: 1px solid #ddd;
		border-bottom: 2px solid #ddd;
		padding: @em / 4;
		font-size: @em * 3 / 4;


	}

	.media-block-body {
		float: right;
		
		width: 400px;
	}
}