<h4>Challenge</h4>
<p>
	I wanted to make a game in the fashion of those old choose-your-own-adventure books.
</p>
<h4>Solution</h4>
<p>
	Angular directives being the perfect tool to tackle this, I created an angular module with big possibilities. 
</p>
<p>
	Storytellers use simples classes like "page" and "choice" to write expansive and scalable stories and games.
</p>
<h4>Links</h4>
<a target=_blank href="http://danielstern.ca/adventure/">
<h5>The Mystery of Bedford Manor <span class="glyphicon glyphicon-new-window"></h5> 
</a>
<p>
	This is a game made with CYO. I made this game. Warning: It's pretty spooky!
</p>