<h4>Challenge</h4>
<p>
	I wanted to create a library to reliably make creative sound and music with the Web Audio API.
</p>
<p>
	Native audio is fast and effecient compared to formats like .mp3, and I wanted a way to take advantage of this.
</p>
<h4>Solution</h4>
<p>
	I needed the library to be robust and efficient, since uses an API that's still being developed. So I documented it thoroughly, complete with graphics. The result is a multimedia experience.
</p>
<p>
	Using Angular.js and LESS, I created numerous visualizers to help people imagine what they can do with the library.
</p>
<h4>Links</h4>
<a target=_blank href="http://danielstern.github.io/jukeboxjs/#/tuner">
<h5>Tuner <span class="glyphicon glyphicon-new-window"></h5> 
</a>
<p>
	A practical and lightweight tuner made using Jukebox.js
</p>
<a target=_blank href="http://danielstern.github.io/jukeboxjs/#/metronome">
<h5>Metronome <span class="glyphicon glyphicon-new-window"></h5> 
</a>
<p>
	Another practical musician's tool that uses the Web Audio API. Built with Jukebox.js
</p>

<a target=_blank href="http://danielstern.github.io/jukeboxjs/#/keyboard">
<h5>Native Tablet Piano App<span class="glyphicon glyphicon-new-window"></h5> 
</a>
<p>
	A native app that runs in your browser, that turns your phone or tablet into a piano.
</p>