<h4>Challenge</h4>
<p>
	I found that the options for styling HTML5 range inputs were inadequate. Since 2014, range inputs have become fairly powerful but integrating them is complicated.
</p>
<h4>Solution</h4>
<p>
	Using LESS and Angular, I built this tool which you can use to visually style your sliders and then automatically generate CSS for your website.
</p>
<h4>Links</h4>
<a target=_blank href="http://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/">
<h5>Guest Article on CSS-tricks.com <span class="glyphicon glyphicon-new-window"></h5> 
</a>
<p>
	For this article, Chris Coyier asked me to explain how best to styles range inputs with CSS. Here's what I came up with.
</p>