<div class="jumbotron">
    <h1>Daniel Stern
    </h1>
    <img src=img/danielstern.png width=300>
    <h2>
        The Code Whisperer 
        <span class="glyphicon glyphicon-star"></span>
    </h2>
    <!-- <p class="lead">This is the professional website of Daniel Stern, Toronto's Full Stack and Front End Developer</p> -->
    </p>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Skills</h3>
        <h4>Angular.js</h4>
        <h4>Less.js</h4>
        <h4>Bootstrap</h4>

        <h4>Typescript</h4>
        <h4>Node.js</h4>
        <h4>HTML5</h4>
        <h4>CSS</h4>
        <h4>JavaScript</h4>
        <h4>jQuery</h4>
        <h4>Git</h4>
        <h4>SEO</h4>
        <h4>MongoDB</h4>
        <h4>Yeoman</h4>
        <h4>Grunt</h4>
        <h4>Jade</h4>
        <h4>Wordpress</h4>
    </div>
</div>
