<!-- <div class="container-fluid">

            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-me">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref='home'></a>
                </div> -->

              <!--   <div class="collapse navbar-collapse" id="collapse-me">
                    <ul class="nav navbar-nav">
                        <li ui-sref='usage' ui-sref-active="active"><a href=''>about</a>
                        </li>
                        <li ui-sref='portfolio' ui-sref-active="active"><a href=''>portfolio</a>
                        </li>
                        <li ui-sref='features' ui-sref-active="active"><a href=''>hire me</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-flash"></span> Links
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a target=_blank href="https://github.com/danielstern">  <span class="glyphicon glyphicon-star"></span> Github</a>
                                </li>
                                <li><a target=_blank href="https://www.linkedin.com/pub/daniel-stern/52/b60/a46">  <span class="glyphicon glyphicon-asterisk"></span> LinkedIn</a>
                                </li>
                                <li><a target=_blank href="https://twitter.com/danieljackstern"><span class="glyphicon glyphicon-tower"></span>  Twitter</a>
                                </li>
                                <li><a target=_blank href="https://http://stackoverflow.com/users/2299820/itcouldevenbeaboat"> <span class="glyphicon glyphicon-sort-by-attributes"></span> Stackoverflow</a>
                                </li>
                                <li class="divider"></li>
                                <li><a target=_blank href="http://danielstern.bandcamp.com/"> <span class="glyphicon glyphicon glyphicon-record"></span> Bandcamp</a>
                                </li>
                                <li><a target=_blank href="http://azureda.newgrounds.com/"> <span class="glyphicon glyphicon-headphones"></span> Newgrounds</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a target=_blank href="mailto:daniel@danielstern.ca">
                                        <span class="glyphicon glyphicon-send"> </span> daniel@danielstern.ca</a>
                                    <a target=_blank href>
                                        <span class="glyphicon glyphicon-phone-alt"> </span> 647-997-6967</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
                <!-- /.navbar-collapse -->