<h2>Portfolio</h2>
<p class="input-group">
    <input type="search" ng-model=portfolioSearch class="form-control portfolio-search">
    <span class="input-group-btn">
        <button type="submit" ng-click="portfolioSearch=undefined" class="btn btn-primary">X</button>
    </span>
</p>
<div class='media-block' ng-repeat='item in portfolio | filter: portfolioSearch'>
    <!-- <a target=_blank ng-href={{item.link}}> -->
    <!-- {{item}} -->
    <a ui-sref='project({project:item.shortname})'>
        <img ng-src={{item.img[0].url}}>
    </a>
    <div class='media-block-body'>
	    <a ui-sref='project({project:item.shortname})'>
	        <h3>{{item.name}}</h3>
        </a>
        <h4>{{item.category}}</h4>
        <h4>
            {{item.shortDescription}}
        </h4>
        <p>
            {{item.description}}
        </p>
        <div class="skills">
            <ul>
            <div ng-repeat='skill in item.skills'>
                          <a ui-sref=portfolio({skill:skill})>
                              <li>
                                  {{skill}}
                              </li>
                          </a>
                      </div>
            </ul>
        </div>
    </div>
    <div class=clearfix></div>
</div>
