<!-- <div class="jumbotron">
    <h1>Daniel Stern
    </h1>
    <img src=img/danielstern.png width=300>
    <h2>
        The Code Whisperer 
        <span class="glyphicon glyphicon-star"></span>
    </h2>
    <p class="lead">This is the professional website of Daniel Stern, Toronto's Full Stack and Front End Developer</p>
    </p>
</div> -->

<!-- <h2>Portfolio</h2> -->
<p class="input-group">
    <input type="search" ng-model=portfolioSearch class="form-control portfolio-search">
    <span class="input-group-btn">
        <button type="submit" ng-click="portfolioSearch=undefined" class="btn btn-primary">X</button>
    </span>
</p>
<div class='media-block' class="move-animation" ng-animate ng-repeat='item in portfolio | filter: portfolioSearch' >
    <!-- <a target=_blank ng-href={{item.link}}> -->
    <!-- {{item}} -->
    <a ui-sref='project({project:item.shortname})'>
        <img ng-src={{item.img[0].url}}>
    </a>
    <div class='media-block-body'>
	    <a ui-sref='project({project:item.shortname})'>
	        <h3>{{item.name}}</h3>
        </a>
        <h4>{{item.category}}</h4>
        <h4>
            {{item.shortDescription}}
        </h4>
        <p>
            {{item.description}}
        </p>
        <div class="skills" >
            <div ng-repeat='skill in item.skills | limitTo: 5'  >
                          <a ui-sref=portfolio({skill:skill})>
                              <li>
                                  {{skill}}
                              </li>
                          </a>
                      </div>
        </div>
    </div>
    <div class=clearfix></div>
</div>
