<div class="col-sm-8">
    <h2>{{item.name}}</h2>
    <h3>{{item.description}}</h3>
    <div ng-include="'partials/portfolio/' + item.shortname + '.html'"></div>
    <h3>Links</h3>
    <p>
    	<a ng-href="{{item.link}}" target=_blank>Visit the site!</a>
    </p>
</div>
<div class="col-sm-4">
    <div class=row>
        <a ui-sref=project.image({image:item.img[0].shortname})>
            <img src={{item.img[0].url}} class=responsive>
        </a>
    </div>
    <div class=row>
        <div class=col-sm-6>
        <a ui-sref=project.image({image:item.img[1].shortname})>
            <img src={{item.img[1].url}} class=responsive>
        </a>
        </div>
        <div class=col-sm-6>
        <a ui-sref=project.image({image:item.img[2].shortname})>
            <img src={{item.img[2].url}} class=responsive>
        </a>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div ui-view></div>

