<div class="col-sm-8">
    <h2>
        <a ng-href="{{item.link}}" target=_blank>
    {{item.name}}
          <span class="glyphicon glyphicon-new-window">
    </a>
    </h2>
    <h3>{{item.description}}</h3>
    <div ng-include="'partials/portfolio/' + item.shortname + '.html'"></div>
    <div class="skills">
        <ul>
            <div ng-repeat='skill in item.skills'>
                <a ui-sref=portfolio({skill:skill})>
                    <li>
                        {{skill}}
                    </li>
                </a>
            </div>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-sm-4">
    <div class=row>
        <a ui-sref=project.image({image:item.img[0].shortname})>
            <img src={{item.img[0].url}} class='responsive project-first'>
        </a>
    </div>
    <div class=row>
        <div class=col-sm-6>
            <a ui-sref=project.image({image:item.img[1].shortname})>
                <img src={{item.img[1].url}} class=responsive>
            </a>
        </div>
        <div class=col-sm-6>
            <a ui-sref=project.image({image:item.img[2].shortname})>
                <img src={{item.img[2].url}} class=responsive>
            </a>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div ui-view></div>
