<div class=sidenav-content ng-controller=DocsCtrl>
    <!-- <img src=img/danielstern-optimized.jpg> -->
    <div class=sidenav-main-image>

    </div>
    <div class=sidenav-body>

        <!-- <p class="lead">This is the professional website of Daniel Stern, Toronto's Full Stack and Front End Developer</p> -->
        <!-- <h3> -->
        <!-- About Me -->
    </h3>

    <button class="menu-item menu-title md-menu-item ng-binding" ng-click="menu.toggleSelectSection('about')" md-highlight="menu.isSectionSelected(section)" md-ink-ripple="#bbb" tabindex="0" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      About me
    <div class="md-ripple-container" style=""></div></button>

    <!-- ngRepeat: page in section.pages --><a class="menu-item menu-sub-item md-menu-item ng-scope ng-hide" ng-show="menu.isSectionSelected('about')"   ng-href="#/demo/material.components.bottomSheet" md-highlight="menu.isPageSelected("about", page)" md-ink-ripple="#bbb" href="#/demo/material.components.bottomSheet" aria-hidden="true" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <div ng-include="'partials/about-me.html'"></div>
    </a>

    <div ng-repeat="section in menu.sections" class="ng-scope" >
        
            <button class="menu-item menu-title md-menu-item ng-binding" ng-click="menu.toggleSelectSection(section)" md-highlight="menu.isSectionSelected(section)" md-ink-ripple="#bbb" tabindex="0" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              Demos
            <div class="md-ripple-container" style=""></div></button>

            <!-- ngRepeat: page in section.pages --><a class="menu-item menu-sub-item md-menu-item ng-scope ng-hide" ng-show="menu.isSectionSelected(section)" ng-repeat="page in section.pages" ng-href="#/demo/material.components.bottomSheet" md-highlight="menu.isPageSelected(section, page)" md-ink-ripple="#bbb" href="#/demo/material.components.bottomSheet" aria-hidden="true" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <span>{{page.name}}</span>
            </a>

          </div>
     <!--   -->
        <!-- <h3>Top Skills</h3>
        <button class="menu-item menu-title md-menu-item ng-binding" ng-click="menu.toggleSelectSection(section)" md-highlight="menu.isSectionSelected(section)" md-ink-ripple="#bbb" tabindex="0" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
          Demos
        <div class="md-ripple-container" style=""></div></button>

          <span>{{page.name}}</span>
        </a>
        </div> -->
     <!--    <a ui-sref="portfolio({skill:'angular'})">
            <h4>Angular.js</h4>
        </a>
        <p>
            Angular.js is my framework of choice for creating powerful apps. I've used it in enterprise applications, and use it actively in almost all my projects. I contribute to the community by creating and maintaining modules.
        </p>
        <a ui-sref="portfolio({skill:'less'})">
            <h4>Less.js</h4>
        </a>
        <p>
            I use Less.js in enterprise websites and personal projects to create maintainable and lightweight CSS. I also use it to tackle complex display issues.
        </p>
        <a ui-sref="portfolio({skill:'less'})">
            <h4>Bootstrap</h4>
        </a>
        <p>
            I use Bootstrap in almost all my projects to generate consistent, fast and lightweight layouts.
        </p>
        <a href=https://github.com/danielstern>
            <h4>Git</h4>
        </a>
        <p>
            Git is the versioning tool I use to keep track of all my projects. I am an active member of the Github community.
        </p>
        <h4>
            Analytics
        </h4>
        <p>
            I use Google analytics to manage the analytics of all my projects, and I've managed the Google Analytics and SiteCatalyst architectures for Fortune 500 companies and their e-commerce sites.
        </p> -->

        <!-- <h3>Other Skills</h3>
        <h4>Node.js</h4>
        <h4>HTML5</h4>
        <h4>CSS</h4>
        <h4>JavaScript</h4>
        <h4>jQuery</h4>
        <h4>SEO</h4>
        <h4>MongoDB</h4>
        <h4>Yeoman</h4>
        <h4>Grunt</h4>
        <h4>D3</h4>
        <h4>Jade</h4>
        <h4>Typescript</h4>
        <h4>Wordpress</h4>
        <h4>Heroku</h4> -->
    </div>
</div>
